@use 'variables';
@use 'colors';
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'League Spartan', monospace;
}
body {
 background-color: colors.$corPrimaria;
 color: white;
 display: flex;
 img {
  position: fixed;
  height: 100vh;
  z-index: -1;
 }
}
#wallpaperRight {
 left: 60%;
}
.container {
 max-width: 1023px;
 width: 100%;
 margin: 0 auto;
 background-color: rgba($color: colors.$corSecundaria, $alpha: 0.7);
 height: 100000px;
}
header {
 text-align: center;
 h1 {
  font-size: 7vw;
  padding: 10px;
  padding-bottom: 40px;
 }
 h3 {
  font-size: 3vw;
  position: absolute;
  top: 6.35vw;
  left: 50.45vw;
 }
}
main {
 display: grid;
 grid-template-columns: auto auto auto auto;
 column-gap: 10px;
 row-gap: 50px;
 margin: 10px;
 position: static;
 img {
  position: static;
  height: auto;
  width: 100%;
  pointer-events: none;
 }
}
footer {
 text-align: center;
}
@media screen and (max-width: variables.$mobile) {
 header {
  h1 {
   font-size: 20vw;
  }
  h3 {
   top: 20vw;
   left: 51.5vw;
   font-size: 8.5vw;
  }
 }
 main {
  grid-template-columns: auto auto;
 }
 footer {
  font-size: 3vw;
 }
 #wallpaperRight {
  visibility: hidden;
 }
 body {
  img {
   z-index: -1;
  }
 }
}