$mobile: 767px;
$tablet: 1023px;

$corPrimaria: #fc5c65;
$corSecundaria: #eb3b5a;
$corPrimariaBronze: #fd9644;
$corSecundariaBronze: #fa8231;
$corPrimariaDiamante: #45aaf2;
$corSecundariaDiamante: #2d98da;